.todos{
    overflow: auto;
    max-height: 80vh;
    background-color: rgba(0,0,0,.1);
    // border:1px solid transparent;
    // border-radius: 1vw;
    padding:0 2vw;
    div{
        border:1px solid gray;
        border-radius: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin:1rem 0;
        padding:1rem 0;
        background-color:rgba(0,0,0,.2);
        p{
            width:80%;
            font-size: 0.9rem;
            color:#fff;
            line-height: 1.5rem;
            text-indent: 1.5rem;
            letter-spacing: 0.1rem;
        }
        a{
            color:#fff;
            font-size: 1rem;
            text-decoration: none;
        }
    }
}