.todoContent{
    margin:2rem 0;
    .todoContentHead{
        display: flex;
        justify-content: space-around;
        input{
            outline: none;
            width:60%;
            height:35px;
            text-indent: 1em;
            font-size:0.9rem;
        }
        button{
            padding:0 1rem;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bolder;
        }
        margin-bottom:1rem;
    }
}